/* CONTROLE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 70em;
    margin: auto;
}

a{
    color: #161616;
    text-decoration: none;

    padding: 8px;
}

/* HEADER */

header{
    width: 100%;
    padding: 10px;
        
    display: grid;
    grid-template-areas: 
        "o-links logo contato"
        "separacao separacao separacao"
        "redes-sociais redes-sociais redes-sociais";
}

.o-links{
    grid-area: o-links;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    grid-area: logo;

    display: flex;
    justify-content: center;
    align-items: center;
}

.separacao{
    grid-area: separacao;
    margin: 0.5em 6em 0 6rem;
    border-bottom: 1px solid rgb(58, 57, 57);
}

.o-contato{
    grid-area: contato;

    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais{
    margin-top: 0.4em;
    grid-area: redes-sociais;

    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais a{
    margin: 0 2em 0 2em;
}

/* MAIN */

.img-box{
    width: 70em;
    height: 25em;
    margin: auto;

    position: relative;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.img-box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mensagem{
    position: absolute;
    top: 50px;
    left: 30px;
}

.mensagem h1{
    font-size: 5rem;
}

.mensagem h1 span{
    display: block;
}

.mensagem p{
    margin: 1rem 2rem 0 0;
    font-size: 1.5rem;
}

/* SOBRE */

.sobre{
    display: grid;
    grid-template-columns:  50% 30%;
    grid-template-areas: 
        "conteudo conteudo aside";

    margin: 1.5em 0 1.5em 0;
}

.conteudo{
    grid-area: conteudo;
}

.aside{
    grid-area: aside;
}

.titulo-conteudo{
    border-bottom: 1px solid #313131;
    margin-right: 5em;
}

.texto-conteudo{
    margin: 1.5em 8em 1em 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-conteudo p span{
    display: block;
    padding: 4px;
}

/* FOOTER */

footer{
    display: grid;
    grid-template-areas: "footer-logo perguntas busca";

    border-top: 1px solid gray;
    padding: 10px;
}

.footer-logo h3{
    color: #222121;
    margin-left: 2em;
    cursor: pointer;
}

.footer-logo h3:hover{
    color: darkblue;
}

.perguntas{
    display: flex;
    flex-direction: column;
}

.perguntas a{
    font-size: 0.8rem;
}

.perguntas a:hover{
    color: darkblue;
}

.busca input[type="text"]{
    border: 1px solid #2b2a2a;
    border-radius: 10px;
    padding: 10px;
}